.container {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.2), 0 10px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  width: 80vw;
  height: 83vh;
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
}
.login {
  background: url(../../../../assets/vendor/bg-f8-login.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  button {
    border-radius: 20px;
    border: 1px solid #36867b;
    background: #36867b;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    .ghost {
      background: #36867b;
      border-color: #fff;
    }
    &:active {
      transform: scale(0.95);
    }
    &:focus {
      outline: none;
    }
  }
  h1 {
    font-weight: bold;
    margin: 0;
  }
  p {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
  }
  a {
    color: #36867b;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
  }
  .signIn-container {
    left: 0;
    width: 50%;
    z-index: 2;
  }
  .signUp-container {
    left: 0;
    width: 50%;
    z-index: 1;
    opacity: 0;
  }
  .form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
    .formLoginUser {
      height: 100%;
    }
    form {
      background: #fff;
      display: flex;
      flex-direction: column;
      padding: 0 50px;
      /* height: 100%; */
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    input {
      background: #eee;
      border: none;
      padding: 10px 15px;
      margin: 5px 0;
      width: 100%;
      &:focus {
        outline: 1px solid var(--primary-color);
      }
    }
    select {
      background: #eee;
      border: none;
      padding: 12px 15px;
      margin: 8px 0;
      width: 100%;
      &:focus {
        outline: 1px solid var(--primary-color);
      }
    }
  }
  .overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 1;
    .overlay {
      background: url(../../../../assets/vendor/bg-all.2b72c7ac.png);
      background-size: cover;
      color: #fff;
      position: relative;
      left: -100%;
      height: 100%;
      width: 200%;
      transform: translateY(0);
      transition: transform 0.6s ease-in-out;
      .overlay-panel {
        position: absolute;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 40px;
        height: 100%;
        width: 50%;
        text-align: center;
        transform: translateY(0);
        transition: transform 0.6s ease-in-out;
      }
      .overlay-right {
        right: 0;
        transform: translateX(0);
      }

      .overlay-left {
        transform: translateX(-20%);
        z-index: 10;
      }
    }
  }
}
.right-panel-active {
  /* Move signin to right */
  .signIn-container {
    opacity: 0;
    transform: translateX(100%);
  }
  /* Move overlay to left */
  .overlay-container {
    transform: translateX(-100%);
  }
  /* Bring signup over signin */
  .signUp-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    &::-webkit-scrollbar {
      width: 0 !important;
      display: none;
    }
  }
  /* Move overlay back to right */
  .overlay {
    transform: translateX(50%);
  }
  /* Bring back the text to center */
  .overlay-left {
    z-index: 30;
    transform: translateX(0);
  }
  /* Same effect for right */
  .overlay-right {
    transform: translateX(20%);
  }
}

/* Mobie */
@media screen and (max-width: 46.1875em) {
  .loginBody h1 {
    font-size: 30px;
  }
  .errorMessage {
    font-size: 12px;
  }
  .form-container form {
    padding: 0 10px;
  }
  .container.right-panel-active .sign-up-container {
    overflow-y: scroll;
    overflow-x: hidden;
  }
}

/* Tablet */
@media screen and (min-width: 46.25em) and (max-width: 63.9375em) {
  .loginBody h1 {
    font-size: 30px;
  }
  .container.right-panel-active .sign-up-container {
    overflow: auto;
  }
}
