.sideBar_login {
  background-color: var(--first-color);
  border-radius: 999px;
  text-decoration: none;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
  padding: 9px 20px;
  cursor: pointer;
}
