.container {
    margin-top: 96px;
    margin-bottom: 60px;
    color: #000000;
    
}
.filter-wrapper {
    border-radius: 5px;
 
}
.wrapper {
    padding: 20px 50px;
display: flex;
justify-content: center;
align-items: center;
    .nav-filter {
        h3 {
            font-size: 2.5rem;
            font-weight: 500;
            padding: 16px 0;
        }
        .filter-container {
            h4 {
                font-size: 2rem;
                font-weight: 500;
                padding-bottom: 10px;
            }
            .filter-list {
                margin-bottom: 10px;
                ul {
                    list-style-type: none;
                    li {
                        padding: 5px 0;
                    }
                }
            }
        }
    }
    .course-list-item{
        align-items: flex-start;
        box-shadow: -7px 0px 5px -3px rgba(0,0,0,0.04);
        -webkit-box-shadow: -7px 0px 5px -3px rgba(0,0,0,0.04);
        -moz-box-shadow: -7px 0px 5px -3px rgba(0,0,0,0.04);
    }

}

.pagination {
    padding: 30px;
    text-transform: uppercase;
    background-color: var(--white-color);
    display: flex;
   align-items: center;
   justify-content: center;
   li{
    font-size: 20px;

   }
}