.personalInfo {
  flex: 1 1;
  max-width: 100%;
  .content {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    .profile_banner {
      background-image: url(../../assets/vendor/profileUser.png);
      position: relative;
      padding-top: 28%;
      border-bottom-left-radius: 16px;
      border-bottom-right-radius: 16px;
      width: 100%;
      .profile_user {
        align-items: flex-end;
        bottom: -70px;
        display: flex;
        left: 40px;
        position: absolute;
        z-index: 1;
        .profile_user-avatar {
          background-color: transparent;
          padding: 0;
          position: relative;
          .avatar_user {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 12px;
            background: linear-gradient(180deg, #ffd900, #b45264 93.68%);
            font-size: 17.2px;
              border-radius: 50%;
            .avatar{
              border-radius: 50%;
              height: 9em;
              width: 9em;
              object-fit: cover;
            }
            .crown{
              position: absolute;
              top: -0.2em;
              right: -2em;
              width: 3.2em;
              height: 3.2em;
            }
          }
        }
        .profile_user-name{
          font-size: 28px;
          font-weight: 700;
          margin-bottom: 16px;
          margin-left: 16px;
          text-align: center;
        }
      }
      .bg_btn-change{
        align-items: center;
        background: #fff;
        border-radius: 6px;
        bottom: 15px;
        cursor: pointer;
        display: flex;
        font-size: 1.4rem;
        font-weight: 500;
        max-height: 40px;
        padding: 10px;
        position: absolute;
        right: 15px;
        svg{
          color: #4f4d4d;
          font-size: 2rem;
          margin-right: 8px;
          width: 20px;
        }
      }
    }
    .profile_container{
      margin-top: 110px;
      .user_infor{
        p{
          padding: 10px 0;
          font-size: 1.6rem;
          font-weight: 500;
          span{
            font-size: 1.5rem;
            font-weight: 400;
            margin-left: 8px;
          }
        }
      }
      .study_time{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
        gap: 20px;
        .study_time-item{
          background: var(--primary-color);
          color: #fff;
          padding: 15px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 20px;
          i{
            margin-right: 10px;
          }
          h6{
            font-size: 1.6rem;
            line-height: 19px;
            font-weight: 500;
          }
          p{
            font-size: 14px;
            font-weight: 400;
          }
        }
      }
    }
  }
}






