.wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 420px;
    height: 40px;
    padding: 0 16px 0 8px;
    border: 2px solid #e8e8e8;
    border-radius: 20px;
    transition: border-color .2s ease-in-out;
    &:focus-within{
        border-color: #444;
    }
    .icon{
        width: 30px;
        height: 32px;
        background-image:url(https://fullstack.edu.vn/static/media/search.9bd3926522ea0937310c.svg);
        background-color:#fff;
        background-position:50%;
        background-repeat: no-repeat;
        background-size: 18px;
        border-radius: 50%;
        opacity: .7;
        transition: opacity .2s ease-in-out;
        &:hover{
            opacity: 1;
        }
    }
    .input{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: none;
        caret-color: #444;
        flex:1 1 ;
        height: 100%;
        outline: none;
        padding: 0 4px;
        overflow: visible;
        font-size: 1.4rem;
        line-height:1.15;
        font-weight: 400;
    }

}