.login {
  display: inline-block;
  border-radius: 999px;
  text-decoration: none;
  color: #fff;
  line-height: 1.15;
  font-size: 1.4rem;
  font-weight: 600;
  padding: 9px 20px;
  cursor: pointer;
  background-color: var(--primary-color);
}
.showIconHeader {
  display: flex;
  .headerAvatar {
    &:hover .logout {
      transform: translateX(56px);
    }
    position: relative;
    display: flex;
    .info {
      .avatar {
        position: relative;
        z-index: 10;
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 50%;
      }
    }
    .logout {
      position: absolute;
      top: 25%;
      left: 0;
      z-index: 1;
      transition: all 0.5s;
      i {
        color: #f6ba35;
      }
    }
  }
}
