.container {
  flex: 1 1;
  align-items: center;
  display: flex;
  justify-content: flex-end;

  .login,
  .logout,
  .register {
    display: inline-block;
    border-radius: 999px;
    text-decoration: none;
    color: #fff;
    line-height: 1.15;
    font-size: 1.4rem;
    font-weight: 600;
    padding: 9px 20px;
    cursor: pointer;
    background-color: var(--primary-color);
  }
  .logout {
    background-color: var(--first-color);
  }
  .register {
    background-color: var(--button-color);
  }
  .courses {
    background-color: transparent;
    color: #333;
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: 500;
    margin-right: 16px;
    padding: 8px;
  }
  .cta {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .courses,
    .notification,
    .avatar {
      padding: 8px;
      cursor: pointer;
    }
    .courses {
      margin-right: 16px;
      position: relative;
    }
    .myCourses-wrapper,
    .notification-wrapper {
      padding: 5px 5px 5px 5px ;
      display: block;
      min-height: 400px;
      min-width: 380px;
      position: absolute;
      top: 32px;
      right: 0;
      box-shadow: 3px 1px 9px 7px rgba(0, 0, 0, 0.06);
      -webkit-box-shadow: 3px 1px 9px 7px rgba(0, 0, 0, 0.06);
      -moz-box-shadow: 3px 1px 9px 7px rgba(0, 0, 0, 0.06);
      border-radius: 10px;
      .label {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 14px 20px 16px;
        a {
          margin-left: auto;
          padding: 8px;
          color: var(--primary-color);
          font-size: 1.4rem;
          border-radius: 4px;
          font-weight: 400;
        }
        a:hover {
          background-color: #f1f1f1;
        }
        h6 {
          font-size: 1.8rem;
          margin: 0;
          font-weight: 500;
        }
      }
    }


    // .courses:active .myCourses-wrapper,
    // .courses:hover .myCourses-wrapper,
    // .notification:active .notification-wrapper,
    // .notification:hover .notification-wrapper {
    //   display: block;
    // }
    .notification {
      margin-top: 5px;
      text-align: center;
      padding: 8px 0;
      position: relative;
      -webkit-user-select: none;
      -ms-user-select: none;
      user-select: none;
      color: #707070;
      font-size: 2rem;
      .notification-icon {
        width: 17.5px;
        height: 20px;
        font-size: 2rem;
      }
    }
    .wrapper {
      margin-left: 12px;
      .avatar {
        --font-size: 3.2px;
      }
      img {
        border-radius: 50%;
        height: 30px;
        object-fit: cover;
        width: 30px;
      }
    }
  }
}
